<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.start.crypto.android">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission
        android:name="android.permission.USE_CREDENTIALS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <application
        android:name=".CryptoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4d97e2d44e4bae844d86c4d8ab033d9347b8d054" />

        <activity
            android:name=".CreateTransactionActivity"
            android:label="@string/title_activity_transaction" />
        <activity
            android:name=".AutocompleteActivity"
            android:label="@string/title_activity_autocomplete"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".AutocompleteListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_autocomplete"
        />

        <activity
            android:name=".PieActivity"
            android:label="@string/title_activity_pie" />
        <activity
            android:name=".NotificationsActivity"
            android:label="@string/title_notifications" />
        <activity
            android:name=".NotificationFormActivity"
            android:label="@string/title_activity_notification"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".account.SigninActivity"
            android:label="@string/title_activity_auth"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".account.SignupActivity"
            android:label="@string/title_activity_signup"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".account.RestoreRequestActivity"
            android:label="@string/title_activity_restore"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".account.RestorePasswordActivity"
            android:label="@string/title_activity_restore"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".PortfoliosActivity"
            android:label="@string/title_activity_portfolios" />
        <activity android:name=".PortfolioCoinActivity" />
        <activity
            android:name=".publicPortfolio.PortfolioActivity"
            android:label="@string/title_activity_portfolios"
            android:theme="@style/AppTheme.NoActionBar"
            />




        <provider
            android:name=".data.CryptoProvider"
            android:authorities="com.start.crypto.android.sync"
            android:exported="false" />

        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name=".sync.SyncService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

    </application>

</manifest>